<% if logged_in? %>
  <%= form_for @lcl do |f| %>
    <div>
      <%= f.label "Description" %>
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.submit "Create" %>
    </div>
  <% end %>
  <%= render 'layouts/_errors' %>
<% else %>
  <h2>Please <a href="/login">Log in</a></h2>
<% end %>